.console-text {
  margin: 0;
  width: 100%;
  white-space: normal;
  padding-left: 1rem;
  padding-right: 1rem;
}

.arrow {
  border-style: dashed;
  border-color: transparent;
  border-width: 0.1em;
  display: -moz-inline-box;
  display: inline-block;
  /* Use font-size to control the size of the arrow. */
  /*font-size: 133px;*/
  /*18=133*/
  /*19=141*/
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: middle;
  width: 0;
  border-left-width: 0.1em;
  border-left-style: solid;
}

.console-tag {
  padding-left: 1em;
  width: auto;
}

.console-input {
  padding: 0;
  border: none;
  outline: none;
  width: 100%;
  flex: 1;
}

.flex-container {
  display: flex;
}

.line {
  border-bottom: 2px solid;
}

.line-info {
  color: blue;
  border-bottom-color: blue;
}

.line-error {
  color: red;
  border-bottom-color: red;
}

.line-success {
  color: green;
  border-bottom-color: forestgreen;
}
