.console-text {
  margin: 0;
  width: 100%;
  white-space: normal;
}

.console {
  font-family: Consolas, serif;
  color: white;
  font-size: 18px;
  background-color: #000026;
}

.console::selection {
  color: #000026;
  background-color: whitesmoke;
}

.arrow {
  border-style: dashed;
  border-color: transparent;
  border-width: 0.1em;
  display: -moz-inline-box;
  display: inline-block;
  /* Use font-size to control the size of the arrow. */
  font-size: 130px;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: middle;
  width: 0;
  background-color: #000035; /* change background color acc to bg color */
  border-left-width: 0.1em;
  border-left-style: solid;
  border-left-color: #000059;
}

.console-tag {
  background-color: #000059 !important;
  color: whitesmoke !important;
  width: auto;
}

.console-input {
  padding: 0;
  border: none;
  outline: none;
  width: 100%;
  flex: 1;
  background-color: #000035 !important;
}

.flex-container {
  display: flex;
}
